* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
    box-sizing: border-box;
}

html {
    body {
        // overflow: hidden;
        padding: 15px;
        background-color: #343A40;
        color: #FDFEFE;

        h1 {
            text-align: center;
            color: beige;
        }

        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            background-color: #6C757D;
            box-shadow: 0px 0px 10px #000;
            border: 2px solid beige;
            padding: 10px;
            margin: 10px;
            // width: 30%;
            width: 250px;
            transition: .5s;

            &:hover {
                transform: scale(1.02);
                transition: .3s;
            }

            p {
                text-align: center;
                margin: 15px 0px;
                color: beige;
                max-width: 150px;
            }

            img {
                width: 150px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px #000;
                border: 2px solid beige;
            }

            .detailBtn {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                color: #FDFEFE;
                background-color: #F4623A;
                transition: .1s;

                &:hover {
                    outline: 2px solid beige;
                    color: #000;
                    box-shadow: 0px 0px 7px #FDFEFE;
                    transition: .1s;
                }
            }
        }

        a {
            text-decoration: none;

            &:visited {
                text-decoration: unset;
            }
        }

        .detail-item__container {
            .product-item__container {
                border: 2px solid beige;
                padding: 15px;
                background-color: #6C757D;
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;

                .container__image {
                    width: 30%;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    img {
                        box-shadow: 0px 0px 10px #000;
                        width: 300px;
                        border-radius: 10px;
                        margin-bottom: 20px;
                    }
                }

                .container-detail-info {
                    width: 70%;

                    .table {
                        color: #FDFEFE;

                        .tr {
                            display: flex;

                            .tc {
                                padding: 10px;

                                &:first-child {
                                    width: 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}