* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
    box-sizing: border-box;
}

html {
    body {
        // overflow-x: hidden;
        background-color: #343A40;
        color: #FDFEFE;

        a {
            text-decoration: none;

            &:visited {
                text-decoration: unset;
            }
        }

        h1 {
            text-align: center;
            color: beige;
            font-size: 25px;
        }

        .title__container {
            margin-bottom: 20px;
        }

        .card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            background-color: #6C757D;
            box-shadow: 0px 0px 10px #000;
            border: 2px solid beige;
            padding: 20px;
            margin: 10px;
            width: 350px;
            transition: .5s;

            p {
                text-align: center;
                max-width: 300px;
                color: beige;
                margin-bottom: 10px;
            }

            img {
                width: 150px;
                height: 200px;
                margin-bottom: 10px;
                border-radius: 5px;
                box-shadow: 0px 0px 10px #000;
                border: 2px solid beige;
            }

            .detailBtn {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                color: #FDFEFE;
                background-color: #F4623A;
                transition: .1s;

                &:hover {
                    outline: 2px solid beige;
                    color: #000;
                    box-shadow: 0px 0px 7px #FDFEFE;
                    transition: .1s;
                }
            }
        }
    }
}